.busqueda
{   
    padding-top: 3em;
    padding-bottom: 3em;
    min-height:100%;
    background: #ffffff;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: -webkit-center;
}
.contenedor_table{
	margin-top: 2em;
	text-align: center;
	display: inline-block;
	width: 80%;
}
table{
	text-align: initial;
	width: 100%;
}
.td_boton{
	text-align: center;
}
.fieldset_contenedor{
	font-family: sans-serif;
    border: 2px solid #800040;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    box-shadow: 0 0 20px #999;
}

.fieldset_contenedor legend {
    background: #800040;
    color: #fff;
    padding: 5px 10px ;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 10px;

}
