<!DOCTYPE html>
<html>
	<head>
	{% include "includes/head.html" with title="Consultar Usuario" %}
	</head>
	<body>
		
	    {% include "includes/header.html"  %}
	    
	    <section>
		 <div id="contenido" align="center">
		 	<form method="post" action="/usuario/consultar/modificar"  class="estilo_form" onsubmit="return validaPass();">
		 		<center>
		 		<fieldset align="center">
   				<legend >Editar Usuario:</legend>
		 		{% csrf_token %}
		 		<center>
		 			<table>
		 				<tr>
		 					<td>
		 						<input type="hidden" id="id" name="id" value="{{usuario.pk}}">
		 						<label for="username">Nombre de Usuario: </label>
		 					</td>
		 					<td>
		 						<input type="text" id="username" name="username" required value="{{usuario.username}}"><br>
		 					</td>
		 				</tr>
		 				<tr>
		 					<td>
		 						<label for="password">Contraseña: </label>
		 					</td>
		 					<td>
		 						<input type="password" id="password" name="password" ><br>
		 					</td>
		 				</tr>
		 				<tr>
		 					<td>
		 						<label for="password2">Repite tu Contraseña: </label>
		 					</td>
		 					<td>
		 						<input type="password" id="password2" name="password2" >
		 					</td>
		 				</tr>
		 				<tr>
		 					<td>
		 						<label for="nombres">Nombre(s): </label>
		 					</td>
		 					<td>
		 						<input type="text" id="nombres" name="nombres" required value="{{usuario.first_name}}"><br>
		 					</td>
		 				</tr>
		 				<tr>
		 					<td>
		 						<label for="aPaterno">Apellidos: </label>
		 					</td>
		 					<td>
		 						<input type="text" id="apellidos" name="apellidos" required value="{{usuario.last_name}}"><br>
		 					</td>
		 				</tr>
		 				<tr>
		 					<td>
		 						<label for="asignatura">Asignatura: </label>
		 					</td>
		 					<td>
						 		<select data-placeholder="Asignaturas" multiple="true" name="asignaturas">
							 		{% for asignatura in asignaturas %}
								 		{% if asignatura in clases  %}
								 		<option value="{{ asignatura.pk }}" selected>{{asignatura.nombre}}</option> 
										{% else %}
										<option value="{{ asignatura.pk }}">{{asignatura.nombre}}</option> 
										{% endif %}  
									{% endfor %}
								</select><br>
							</td>
						</tr>
						<tr>
							<td>
								<label for="rol">Rol: </label>
							</td>
							<td>
								<select name>
                            	{% for key, item in ROLES_CHOICES %} 
                            		{% ifequal usuario.rol key %}
								 		<option value="{{ key }}" style="width:350px;" tabindex="4" name="rol" id="rol" selected>{{item}}</option>
									{% else %}
										<option value="{{ key }}" style="width:350px;" tabindex="4" name="rol" id="rol">{{item}}</option>
									{% endifequal %} 
                            	{% endfor %}
                        		</select>
								
		 					</td>
		 				</tr>
		 				<tr>
		 					<td colspan="2">
		 						<center>
		 							<button id="btnSubmit" type="submit" class="submit">Editar</button>
		 						</center>
		 					</td>
		 				</tr>
		 			</table>
		 		</center>
		 	</fieldset>
		 </center>
		 	</form>
		 </div>
		 </section>
		 <script type="text/javascript">
		 function validaPass(){
		 	pass1= document.getElementById("password").value;
		 	pass2= document.getElementById("password2").value;

		 	
		 	if(pass1==pass2){
		 		return true;
		 	}
		 	else{
		 		alert("La contraseña no coincide")
		 		return false;
		 	}
		 }
		 </script>
		{% include "includes/footer.html" %}
	 </body>
</html>