<!DOCTYPE html>
<html lang="es">
	<head>
	{% include "includes/head.html" with title="Registrar nuevo usuario" %}
	<link rel="stylesheet" href="/static/choosen/docsupport/style.css">
    <link rel="stylesheet" href="/static/chosen/docsupport/prism.css">
	<link rel="stylesheet" href="/static/chosen/chosen.css">


	</head>
	<body>
	
    {% include "includes/header.html"  %}
    <section>

    {% if mensaje %}
		<script type="text/javascript">
			$(document).ready(function(){
				$.magnificPopup.open({
		            items: {
		                src: '<div class="white-popup">Dynamically created popup</div>'
		            },
		            type: 'inline'

		          // You may add options here, they're exactly the same as for $.fn.magnificPopup call
		          // Note that some settings that rely on click event (like disableOn or midClick) will not work here
		        }, 0);
			});
		</script>
	{% endif %}
	 	<form method="post" action="/usuario/agregar"  class="estilo_form" onsubmit="return validaPass();">
	 		{% csrf_token %}
	 		<center>
	 		<fieldset align="center">
   			<legend >Registro de Usuario:</legend>
	 		<div id="contenido" align="center">
	 			<table>
	 				<tr>
	 					<td>
					 		<label for="username">Nombre de Usuario: </label>
					 	</td>
					  	<td>
					 		<input type="email" id="username" name="username" placeholder="usuario@dominio.com" required>
					 		
					 	</td>
					</tr>
					<tr>
						<td>
					 		<label for="password">Contraseña: </label>
					 	</td>
					  	<td>
					 		<input type="password" id="password" name="password" required>
					 	</td>
					</tr>
	 				<tr>
	 					<td>
	 						<label for="password2">Repite tu Contraseña: </label>
	 					</td>
	 					<td>
	 						<input type="password" id="password2" name="password2" required>
	 					</td>
	 				</tr>
					<tr>
					 	<td>
					 		<label for="nombres">Nombre(s): </label>
					 	</td>
					  	<td>
					 		<input type="text" id="nombres" name="nombres" required>
					 	</td>
					</tr>
					<tr>
					 	<td>
					 		<label for="aPaterno">Apellido Paterno: </label>
					 	</td>
					  	<td>
					 		<input type="text" id="aPaterno" name="aPaterno" required>
					 	</td>
					</tr>
					<tr>
					 	<td>
					 		<label for="aMaterno">Apellido Materno: </label>
					 	</td>
					  	<td>
					 		<input type="text" id="aMaterno" name="aMaterno" required>
					 	</td>
					</tr>
					<tr>
					 	<td>
					 		<label for="asignatura">Asignatura: </label>
					 	</td>
					  	<td>
					 		<select data-placeholder="Asignaturas"  
					 		 multiple name="asignaturas">
						 		{% for asignatura in asignaturas %}
									<option value="{{ asignatura.pk }}">{{asignatura.nombre}}</option>    
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
					 	<td>
					 		<label for="rol">Rol: </label>
					 	</td>
					  	<td>

					  		<select id="rol" name="rol">
                            	{% for key, item in ROLES_CHOICES %} 
                            		<option value="{{ key }}" style="width:350px;" tabindex="4" name="rol" id="rol">{{item}}</option>
                            	{% endfor %}
                        	</select>

                        	<!--
                        		<select style="width:350px;" tabindex="4" name="rol" id="rol">
					        
					            <option value="3">Profesor</option>
					            <option value="2">Administrador Local</option>
					            <option value="1">Administrador Institucional</option>
					        
							</select>
							-->
					 	</td>
					</tr>
					<tr>
					 	<td colspan=2 align="center">
					 		<br>
					 		<button id="btnSubmit" type="submit" class="submit">Registrar Usuario </button>
					 	</td>
					</tr>
				</table>
		</div>
		</fieldset>
		<center>
		</form>
	</section>
		 <script type="text/javascript">
		 function validaPass(){
		 	pass1= document.getElementById("password").value;
		 	pass2= document.getElementById("password2").value;

		 	
		 	if(pass1==pass2){
		 		return true;
		 	}
		 	else{
		 		alert("La contraseña no coincide")
		 		return false;
		 	}
		 }
		 </script>
		 {% include "includes/footer.html" %}
		 <script src="../static/chosen/chosen.jquery.js" type="text/javascript"></script>
		 <script type="text/javascript">
	
	    /*var config = {
	      '.chosen-select'           : {},
	      '.chosen-select-deselect'  : {allow_single_deselect:true},
	      '.chosen-select-no-single' : {disable_search_threshold:10},
	      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
	      '.chosen-select-width'     : {width:"95%"}
	    }
	    for (var selector in config) {
	      $(selector).chosen(config[selector]);
    }*/
  		$( '.chosen-select').chosen();
	</script>
	 </body>
</html>
