<!DOCTYPE html>
<html>
	<head>
		{% include "includes/head.html" with title="Visualización de Usuarios" %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script type="text/javascript" src="/static/JS/FuncionesUsuario.js"></script>
	</head>
	<body>
		{% include "includes/header.html" %}
		<div id="contenido" align="center">
			<table >
				{%csrf_token%}
				{% for usuario in usuarios %}
				<tr>
					<td>{{usuario.pk}}</td>
					<td>{{usuario.username}}</td>
					<td>{{usuario.get_full_name}}</td>
					<td><button onclick="consultarUsuario({{usuario.pk}});">Editar</button></td>
					<td><button onclick="eliminarUsuario({{usuario.pk}});">Eliminar</button></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% include "includes/footer.html" %}
	</body>
</html>