<!DOCTYPE html>
<html lang="es">
	<head>
    	{% include "includes/head.html" with title="Estadísticas" %}
	</head>


	<link rel="stylesheet" href="/static/css/graficas/styleO.css" type="text/css">

	<script src="/static/js/amcharts/amcharts.js"  type="text/javascript"></script>


    <script src="/static/js/amcharts/serial.js" type="text/javascript"></script>


<script type="text/javascript">
		
            var chart;

            var chartData = [
                {
                    "instrumento": "Rúbrica",
                    "visits": {{respuesta.rubricaC}}
                },
                {
                    "instrumento": "Lista de Cotejo",
                    "visits": {{respuesta.listaC}}
                },
                {
                    "instrumento": "Guía de Observación",
                    "visits": {{respuesta.guiaC}}
                }
                
            ];


            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "instrumento";
                chart.startDuration = 1;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.labelRotation = 45;
                categoryAxis.gridPosition = "start";

                // value
                // in case you don't want to change default settings of value axis,
                // you don't need to create it, as one value axis is created automatically.

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "visits";
                graph.balloonText = "[[category]]: <b>[[value]]</b>";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.8;
                chart.addGraph(graph);

                // CURSOR
                var chartCursor = new AmCharts.ChartCursor();
                chartCursor.cursorAlpha = 0;
                chartCursor.zoomable = false;
                chartCursor.categoryBalloonEnabled = false;
                chart.addChartCursor(chartCursor);

                chart.creditsPosition = "top-right";

                chart.write("chartdiv");
            });
	
        </script>
        <script type="text/javascript">
            var chart2;
            var chartData2 = [];
            var chartCursor2;



            AmCharts.ready(function () {
                // generate some data first
                generateChartData();

                // SERIAL CHART
                chart2 = new AmCharts.AmSerialChart();
                chart2.pathToImages = "/static/js/amcharts/images/";
                chart2.dataProvider = chartData2;
                chart2.categoryField = "date";
                chart2.balloon.bulletSize = 5;

                // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
                chart2.addListener("dataUpdated", zoomChart);

                // AXES
                // category
                var categoryAxis2 = chart2.categoryAxis;
                categoryAxis2.parseDates = true; // as our data is date-based, we set parseDates to true
                categoryAxis2.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
                categoryAxis2.dashLength = 1;
                categoryAxis2.minorGridEnabled = true;
                categoryAxis2.twoLineMode = true;
                categoryAxis2.dateFormats = [{
                    period: 'fff',
                    format: 'JJ:NN:SS'
                }, {
                    period: 'ss',
                    format: 'JJ:NN:SS'
                }, {
                    period: 'mm',
                    format: 'JJ:NN'
                }, {
                    period: 'hh',
                    format: 'JJ:NN'
                }, {
                    period: 'DD',
                    format: 'DD'
                }, {
                    period: 'WW',
                    format: 'DD'
                }, {
                    period: 'MM',
                    format: 'MMM'
                }, {
                    period: 'YYYY',
                    format: 'YYYY'
                }];

                categoryAxis2.axisColor = "#DADADA";

                // value
                var valueAxis2 = new AmCharts.ValueAxis();
                valueAxis2.axisAlpha = 0;
                valueAxis2.dashLength = 1;
                chart2.addValueAxis(valueAxis2);

                // GRAPH
                var graph2 = new AmCharts.AmGraph();
                graph2.title = "red line";
                graph2.valueField = "visits";
                graph2.bullet = "round";
                graph2.bulletBorderColor = "#FFFFFF";
                graph2.bulletBorderThickness = 2;
                graph2.bulletBorderAlpha = 1;
                graph2.lineThickness = 2;
                graph2.lineColor = "#5fb503";
                graph2.negativeLineColor = "#efcc26";
                graph2.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
                chart2.addGraph(graph2);

                // CURSOR
                chartCursor2 = new AmCharts.ChartCursor();
                chartCursor2.cursorPosition = "mouse";
                chartCursor2.pan = true; // set it to fals if you want the cursor to work in "select" mode
                chart2.addChartCursor(chartCursor2);

                // SCROLLBAR
                var chartScrollbar = new AmCharts.ChartScrollbar();
                chart2.addChartScrollbar(chartScrollbar);

                chart2.creditsPosition = "bottom-right";

                // WRITE
                chart2.write("chartdiv2");
            });

            // generate some random data, quite different range

            /*ESTE HACE TODO*/

            //Tenemos que sacar de la base de datos... el día y el número de registros
            function generateChartData() {
                var firstDate = new Date();
                firstDate.setDate(firstDate.getDate() - 500);

           
                for (var i = 0; i < 500; i++) {
                    // we create date objects here. In your data, you can have date strings
                    // and then set format of your dates using chart.dataDateFormat property,
                    // however when possible, use date objects, as this will speed up chart rendering.
                    var newDate = new Date(firstDate);
                    newDate.setDate(newDate.getDate() + i);

                    var visits = Math.round(Math.random() * 40) - 20;

                    chartData2.push({
                        date: newDate,
                        visits: visits
                    });
                }
            }

            // this method is called when chart is first inited as we listen for "dataUpdated" event
            function zoomChart() {
                // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
                chart2.zoomToIndexes(chartData2.length - 40, chartData2.length - 1);
            }

            // changes cursor mode from pan to select
            function setPanSelect() {
                if (document.getElementById("rb1").checked) {
                    chartCursor2.pan = false;
                    chartCursor2.zoomable = true;
                } else {
                    chartCursor2.pan = true;
                }
                chart2.validateNow();
            }

        </script>
	<body>
		{% include "includes/header.html" %}

		<section>
		  <div id="search_content" class="contenedor_table">
		  	<center>
		  	<fieldset align="center" style="width: 90% !important">
		  		<legend>Estadísticas</legend>
		  		<center>
		  			<form>
                <table>
                        <tr>
                        	<td>
                        		<strong>Periodo:<strong>
                        	</td>
		                     <td>
		                     	 &nbsp;&nbsp;De &nbsp;<input type="date" id="rangoA" name="rangoA"> A &nbsp;<input type="date" id="rangoB" name="rangoB">
		                     </td>	
                            <td class="td_boton">
                            	<strong> Tipo de Instrumento:</strong>
	                            	<select name="tipoIns">
	                            			<option value="0">Todas</option>
			                                <option value="1">Rúbrica</option>
			                                <option value="2">Lista de Cotejo</option>
			                                <option value="3">Guía de Observación</option>
			                        </select>
                            </td>
                        </tr>
                        <tr>
                        	<td colspan="3">
                        		<br>
                        		<center>
                        			<button class="submit" onclick="generaBarras(); return false;">Consultar</button>
                        		</center>
                        	</td>
                        </tr>
                </table>
                <table width="80%">
                	<tr>
                		<td>
                			<strong>Total de Registros</strong>
                		</td>
                		
                	</tr>

                	<tr>
                		<td width="50%" >
                			<div id="chartdiv" style="width: 300; height: 200px;"></div>
                		</td>
                		<!--
                		<td>
                			
                			<div id="chartdiv2" style="width: 300; height: 200px;"></div>
					        <div style="margin-left:35px;">
					            <input type="radio" name="group" id="rb1" onclick="setPanSelect()">Select
					            <input type="radio" checked="true" name="group" id="rb2" onclick="setPanSelect()">Pan
							</div>
						

                		</td>
                	-->
                	</tr>
                </table>
            		</form>
             	</center>
             </fieldset>
             <center>
            </div>
        </section>


<script type="text/javascript">
	function busca(fechaA, fechaB, tipoI){
		//fechaAA=document.getElementById(fechaA).value;
		fechaAA=document.getElementById("rangoA").value;
		fechaBB=document.getElementById("rangoB").value;
		tipoI=document.getElementById("tipoIns").value;

		alert(fechaAA +"\n" + fechaBB +"\n" + tipoI);

	}
</script>