<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" with title="Consultar Departamento" %}
</head>
<body>
  
  {% include "includes/header.html" %} 
   
   <div id="contenido" align="center">
            
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <form method="post" action="/departamento/consultar/modificar"  >
                {% csrf_token %}

                <input type="hidden" id="id" name="id" value="{{depto.pk}}">
                <label for="nombreA">Nombre del Departamento: </label>
                <input type="text" id="nombreA" name="nombreA" required value="{{depto.nombre}}"><br>
                <input type="submit" Value="Guardar Departamento" id="btnRegistrarA">
            </form>
    </div>
    {% include "includes/footer.html" %}
</body>
</html>