<!DOCTYPE html>
<html lang="es">
<head>    
    {% include "includes/head.html" with title="Registrar Nuevo Departamento" %}
</head>
<body>
    {%if user.myuser.is_authenticated %}
    {% include "includes/header_login.html"  %}
    {%else%}
    {% include "includes/header.html"  %}
    {%endif%}
    <section>
   
            <form method="post" action="/departamento/agregar" class="estilo_form" >
            {% csrf_token %}
            {% if wrong_data %}
            <p style="color:red;">El tiempo de tu sesión ha acabado</p>
            {% endif %}
                <center>
                    <fieldset align="center">
                        <legend >Registro de Departamento:</legend>
                            <div id="contenido" align="center">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="hidden" name="id" value="{{plantel.pk}}">    
                                            <label for="nombreDepartamento">Nombre del Departamento: </label>
                                        </td>
                                        <td>
                                            <input type="text"  name="nombreDepartamento" required>
                                        </td>
                                    <tr>
                                        <td colspan="2" height="20" style="height: 40px; ">
                                            <center>
                                                <button id="btnSubmit" type="submit" class="submit">Registrar Departamento</button>
                                            <center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </fieldset>
                <cente>
            </form>
    </section>
    {% include "includes/footer.html" %}
</body>
</html>