<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "includes/head.html" with title="Visualización de Departamentos" %}
        <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="/static/JS/FuncionesDepartamento.js"></script>
    </head>

<body>
    {%if user.myuser.is_authenticated %}
    {% include "includes/header_login.html"  %}
    {%else%}
    {% include "includes/header.html"  %}
    {%endif%}
    <section>
   <div id="contenido" align="center">
            
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <table>
                    <tr>
                        <td> Nombre: </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for depto in listaDepartamentos %}
                    <tr>
                        <td>{{depto.nombre}}</td>
                        <td><button onclick="consultarDepartamento({{depto.pk}});">Modificar</button></td>
                        <td><button onclick="eliminarDepartamento({{depto.pk}});">Eliminar</button></td>
                    </tr>
                    {% endfor %}
                </table>
    </div>
    </section>
    {% include "includes/footer.html" %}
</body>
</html>