
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <!--<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css" />-->
    <link rel="stylesheet" href="/static/css/estilos_home.css" />
    <link rel="stylesheet" href="/static/chosen/chosen.css"/>


    <link rel="stylesheet" href="/static/css/StyleSheetForms.css" />
    <script src="/static/jquery/jquery.js"></script>
    <link rel="stylesheet" src="/static/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/FuncionesGeneral.js"></script>


    <!--CSS y JS para POPUP -->
    <link rel="stylesheet" href="/static/popup/magnific-popup.css" />
    <script src="/static/popup/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/static/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('select').chosen();
    });
    </script>