<header>
    <figure id="logo">
        <img src="/static/img/logo_ipn.png" />
    </figure>
    <h1>Herramienta de Gesti&oacute;n del Conocimiento para la Evaluación del Desempeño del Estudiante 

    </h1>

    <figure id="avatar">
        {%if user.is_authenticated %}
            <img src="/static/{{request.session.url}}" />
        {%else  %}
            {%if request.session.url == None%}
                <img src="/static/img/logo_ipn.png" />
                
            {%else%}
                <img src="/static/{{request.session.url}}" />
            {%endif%}
        {%endif%}
    </figure>
  </header>

<table width="100%">
    <tr>
        <td>
            <center>
                <nav class="ul_nav" width="">
                    {%ifequal ROLES.ADMINISTRADOR user.myuser.rol%}
                    <ul>
                        <li>Nuevo
                            <ul>
                              <li><a href="/usuario/nuevo/">Usuario</a></li>
                              <li><a href="/departamento/nuevo/">Departamento</a></li>
                              <li><a href="/academia/nuevo/">Academia</a></li>
                              <li><a href="/asignatura/nuevo/">Unidad de Aprendizaje</a></li>
                            </ul>
                        </li>
                        <li><a href="/buscar">Búsqueda</a></li>
                        <li><a href="/estructura">Estructura Académica</a></li>
                        <li><a href="/estadisticas">Estadísticas</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                    {%else%}
                        {%ifequal ROLES.DOCENTE user.myuser.rol%}
                            <ul>
                                <li><a href="/usuario/perfil/">Mi Perfil</a></li>
                                <li><a href="/estructura/">Estructura Académica</a></li>
                                <li>Instrumentos de Evaluación
                                    <ul>
                                        <li><a  class="popup-nuevoI" href="#nuevo-ins">Nuevo Instrumento</a></li>
                                        <li><a href="/instrumentos/buscar">Buscar Instrumento</a></li>
                                    </ul>
                                </li>
                                <li><a href="/logout">Cerrar Sesión</a></li>
                            </ul>
                        {%else%}
                            <ul>
                                <li><a href="/login/">Iniciar sesión</a></li>
                                <li><a href="/estructura/">Estructura Académica</a></li>
                                <li><a href="/instrumentos/buscar/">Instrumentos de Evaluación</a></li>
                            </ul>
                        {%endifequal%}

                    {%endifequal%}
                </nav>
            </center>
        </td>
    </tr>
</table>



    <div id="nuevo-ins" class="white-popup-block mfp-hide">
        <form class="estilo_form">
            
            <fieldset style="border:0; margin: 0 auto;" >
                <center>
                    <table>
                        <tr>
                            <td colspan="2">
                                <center><b>Crear Nuevo Instrumento de Evaluación</center>
                            </td>
                        </tr>
                            <td colspan="2">
                                Seleccione el tipo de instrumento de evaluación que desea crear:
                    
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="intrumento">Tipo de instrumento:</label>
                            </td>
                            <td>
                                <select id="tipoIns" name="tipoIns" >
                                    <option value="1" style="width:350px;" tabindex="4" name="" id=""> Rúbrica</option>
                                    <option value="2" style="width:350px;" tabindex="4" name="" id=""> Lista de Cotejo</option>
                                    <option value="3" style="width:350px;" tabindex="4" name="" id=""> Guía de Observación</option>

                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br>
                                <center><button id="btnSubmit" type="submit" class="submit" onclick="nuevoI();return false;">Continuar </button>&nbsp;
                                <button type="submit" class="submit" onclick="$.magnificPopup.close();return false;">Cancelar</button>
                            </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </fieldset>
        </form>
        </div>


<style type="text/css">
    .chosen-container.chosen-container-single {
        width: 300px !important; /* or any value that fits your needs */
    }
</style>

<script type="text/javascript">
    function nuevoI(){
        obj=document.getElementById("TipoIns");
        var selectIndex=document.getElementById("tipoIns").selectedIndex;
        

        console.log(selectIndex);

            if(selectIndex==0){
                window.location.href="/instrumento/rubrica/agregar/";
            } 
            else if(selectIndex==1) {
                window.location.href="/instrumento/listacotejo/agregar/";
            }
            else if(selectIndex==2) {
                window.location.href="/instrumento/listaobs/agregar/";
            }
            
    }


    $(document).ready(function() {
    $('.popup-nuevoI').magnificPopup({
        type: 'inline',
        focus: '#name',

        // When elemened is focused, some mobile browsers in some cases zoom in
        // It looks not nice, so we disable it:
        callbacks: {
            beforeOpen: function() {
                if($(window).width() < 1000) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
            }
        }
    });
});
    </script>
