<header>
    <figure id="logo">
        <img src="/static/img/logo_ipn.png" />
    </figure>
    <h1>Herramienta de Gestion del Conocimiento para la Evaluación del Desempeño del Estudiante 

    </h1>

    <figure id="avatar">
        <img src="/static/{{request.session.url}}" />
    </figure>
        <nav>
            {%ifequal 2 user.myuser.rol%}
            <ul>
                <li>Nuevo</li>
                <li><a href="/visualizarUsuario">Usuarios</a></li>
                <li><a href="/estructura">Estructura Académica</a></li>
                <li><a href="">Estadísticas</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
            {%else%}
                {%ifequal 3 user.myuser.rol%}
                    <ul>
                        <li><a href="/miperfil/">Mi Perfil</a></li>
                        <li><a href="/estructura/">Estructura Académica</a></li>
                        <li><a href="/instrumento/rubrica/agregar/">Instrumentos de Evaluación</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                {%else%}
                    <ul>
                        <li><a href="/login/">Iniciar sesión</a></li>
                        <li><a href="/estructura/">Estructura Académica</a></li>
                        <li><a href="/instrumento/rubrica/agregar/">Instrumentos de Evaluación</a></li>
                    </ul>
                {%endifequal%}

            {%endifequal%}
        </nav>
</header>
