<header>
    <figure id="logo">
        <img src="/static/img/logo_ipn.png" />
    </figure>
    <h1>Herramienta de Gestion del Conocimiento para la Evaluación del Desempeño del Estudiante 

    </h1>

    <figure id="avatar">
        <img src="/static/img/superior/{{request.session.nivel}}{{request.session.plantel}}.jpg" />
    </figure>
 {% ifequal navegacionG 1  %}
        <nav>
            <ul>
                <li><a href="">BIENVENIDO</a></li>
            </ul>
        </nav>
    {% else %}
        <nav>
            <ul>
                <li><a href="/login/">Iniciar Sesión</a></li>
                <li><a href="/estructura/">Estructura Académica</a></li>
                <li><a href="/instrumento/rubrica/agregar/">Instrumentos de Evaluación</a></li>
            </ul>
        </nav>
{% endifequal %} 
</header>
