<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Ver lista de cotejo" %}
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        {% include "Instrumento/common_ver.html" with inst_type="listacotejo" %}
        <!-- <button id="add_row">Agregar fila</button>
        <button id="add_column">Agregar columna</button> -->
        <table>
            <thead>
                <tr id="row_header">
                    <th colspan="2">Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">
                <!--

                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <input type="text" value="4" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
                 -->
                {% for ind in indicadores %}
                <tr class="row" meta:index="{{ind.pk}}">
                    <td>
                        <!-- <button class="delete_row">-</button> -->
                    </td>
                    <td>
                        <input type="text" value="{{ ind.texto}}" />
                    </td>
                    <td>
                        <input type="checkbox" {%if ind.check %}checked {% endif %} />
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <!-- <button id="save">Guardar</button> -->
        
    </section>
    {% include "Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesCotejo.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
