<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Registrar lista de cotejo" %}
    <link rel="stylesheet" href="/static/chosen/chosen.css"/>
    <link rel="stylesheet" href="/static/rateyo/jquery.rateyo.css"/>
    <link rel="stylesheet" href="/static/css/estilos_rubrica.css"/>
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/rateyo/jquery.rateyo.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        {% include "Instrumento/common_agregar.html" %}
        <button id="add_row" class="submit">Agregar fila</button>
        <table id="contenedor_instrumento">
            <thead>
                <tr id="row_header">
                    <th colspan="2">Criterio</th>
                    <th>Si/No</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <textarea class="observ" placeholder="Observaciones" ></textarea>
                    </td>
                </tr>
                <tr class="row" meta:index="2">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <textarea class="observ" placeholder="Observaciones" ></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <button id="save" class="submit">Guardar</button>
        
    </section>

    <script type="text/javascript" src="/static/js/FuncionesCotejo.js"></script>
    <script type="text/javascript" src="/static/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#asignatura').chosen();
        $('#level_show').chosen();
    });
    </script>
    {% include "includes/footer.html" %}
</body>

</html>
