<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Registrar lista de cotejo" %}
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        {% include "Instrumento/common_agregar.html" %}
        <button id="add_row">Agregar fila</button>
        <table>
            <thead>
                <tr id="row_header">
                    <th colspan="2">Descripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <input type="text" value="4" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr class="row" meta:index="2">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <input type="text" value="4" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <button id="save">Guardar</button>
        
    </section>
    {% include "Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesCotejo.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
