<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Ver lista de cotejo" %}
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="/static/rateyo/jquery.rateyo.css"/>
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/rateyo/jquery.rateyo.js"></script>
    <link rel="stylesheet" href="/static/css/estilos_rubrica.css"/>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        <fieldset style="width:100%">
        <legend align="center">Ver Lista de Cotejo</legend>
        <center>
            {% include "Instrumento/common_ver.html" with inst_type="listacotejo" %}
        <center>
        <!-- <button id="add_row">Agregar fila</button>
        <button id="add_column">Agregar columna</button> -->
        <div id="contenedor_table">
        
        <table>
            <thead>
                <tr id="row_header">
                    <th colspan="1" class="border">Descripción</th>
                    <th class="columnn border">Si/No</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody id="tbody" class="tbodyinst">
                <!--

                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row">-</button>
                    </td>
                    <td>
                        <input type="text" value="4" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
                 -->
                {% for ind in indicadores %}
                <tr class="row" meta:index="{{ind.pk}}">
                    <td>
                        {{ ind.texto}}
                    </td>
                    <td>
                        <center>
                        <input type="checkbox" {%if ind.check %}checked {% endif %} onclick="return false;" /></center>
                    </td>
                    <td>
                        {% firstof ind.observaciones '' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
    </div>
    </fieldset>

        <!-- <button id="save">Guardar</button> -->
        
    </section>
    {% include "Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesCotejo.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
