
<label class="separar">T&iacute;tulo: {{ instrumento.titulo}}</label>
<label class="separar">Autor: {{ instrumento.autor.get_full_name }}</label>
<label>Unidad de aprendizaje: {{ instrumento.asignatura.nombre}}</label><br/><br/>


<table width="40%">
    <tr>
        <td>
            <button class="submit" onclick="return false;">Descargar</button>
        </td>
        <td>
            <label><div id="resultrating{{instrumento.pk}}" class="rating"></div>
                <script type="text/javascript">
                $('#resultrating{{instrumento.pk}}').rateYo({
                    rating : {% firstof instrumento.valoracion '0' %},
                    {% ifequal user.pk instrumento.autor.pk %}
                    readOnly: true,
                    {% endifequal %}
                });
                </script></label>
        </td>
        <td>
            <label>Oficial: 
                <input 
                    id="oficial" type="checkbox" 
                    placeholder="oficial" 
                    {% if instrumento.oficial %}checked {% endif %}
                    {% ifnotequal instrumento.asignatura.presidente.pk user.myuser.pk %}onclick="return false;" 
                    {% else %}onclick="saveOficial();" 
                    {% endifnotequal %} 
                />
            </label>
        </td>
    </tr>
</table>
<br/>
 {% ifequal instrumento.autor user.myuser %}
<button class="submit" onclick="editarInstrumento({{instrumento.pk}}, '{{ inst_type }}');return false;">Editar</button>

<script type="text/javascript">
    function editarInstrumento(pk, inst_type) {
        window.location.href = "/instrumento/" + inst_type + "/editar?id="+pk;
    }
</script>
{% endifequal %}   

    <script type="text/javascript">
    function saveOficial() {
        $.ajax({
            "url": '/instrumento/?id='+id_inst+"&oficial="+$('#oficial').is(':checked'),
            "type": 'GET',
            "success": load_comments,
            "error": function() {
                alert("Error");
            },
            headers: {
                'X-CSRFToken': $.cookie("csrftoken")
            },
        });
    }
    </script>
