<script type="text/javascript">
var id_inst = {{instrumento.pk}};
</script>
{% if instrumento %}
	{% ifnotequal user.pk instrumento.autor.pk %}
<div id="newrating"></div>
<script type="text/javascript">
function rateInstrument(rating) {
	var inst_pk = {{instrumento.pk}};
	var obj = {
		"rating" : rating
	};
	$.post('/instrumento/rating?id='+inst_pk, obj, function(data){
        if (data == "true")
            window.location.href = "/index";
    });
}
$('#newrating').rateYo({ 
	onSet: function (rating, rateYoInstance) {
 
      rateInstrument(rating);
    }
});
</script>
	{% endifnotequal %}
<div id="comment_add" >
    <textarea 
    placeholder="Comentario acerca del instrumento"></textarea><br/>
    <button>Comentar</button>
</div>
{% endif %}
<div id="comments_section">
</div>
<script type="text/javascript" src="/static/js/FuncionesComentarios.js"></script>
