<script type="text/javascript">
var id_inst = {{instrumento.pk}};
</script>
{% if instrumento %}
	{% ifnotequal user.pk instrumento.autor.pk %}
<div id="newrating"></div>
<script type="text/javascript">
$('#newrating').rateYo({ });
</script>
	{% endifnotequal %}
<div id="comment_add" >
    <textarea LOYO
    placeholder="Comentario acerca del instrumento"></textarea><br/>
    <button>Comentar</button>
</div>
{% endif %}
<div id="comments_section">
</div>
<script type="text/javascript" src="/static/js/FuncionesComentarios.js"></script>
