<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Ver Rúbrica" %}
    <link rel="stylesheet" href="/static/rateyo/jquery.rateyo.css"/>
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/rateyo/jquery.rateyo.js"></script>
    <link rel="stylesheet" href="/static/css/estilos_rubrica.css"/>
    <style type="text/css">
    #tbodyinst td {
        padding: 10px;
    }
    </style>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        <fieldset style="width:100%;">
        <legend align="center">Nueva Rúbrica</legend>
            {% include "Instrumento/common_ver.html" with inst_type="rubrica" %}
            <div id="contenedor_table">
                <table id="contenedor_instrumento_ver">
                    <thead>
                        <tr id="row_header">
                            <th class="border">Aspectos a evaluar</th>
                            {% for pod in pod_vals %}
                            <th class="column border">
                                {{pod.valor}}
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="tbodyinst">
                        {% for cat in cats %}
                        <tr class="row border" meta:index="{{cat.pk}}">
                            <td class="border">
                                {{cat.texto}}
                            </td>
                            {% for pod_val in pods %}
                                {% ifequal pod_val.categoria.pk cat.pk%}
                                    <td class="column_val border">
                                        {{pod_val.descripcion}}
                                    </td>
                                {% endifequal %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>
        </FIELDSET>
    </section>
    {% include "Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesRubrica.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
