<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Registrar Rúbrica" %}
    <link rel="stylesheet" href="/static/chosen/chosen.css"/>
    <link rel="stylesheet" href="/static/rateyo/jquery.rateyo.css"/>
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/rateyo/jquery.rateyo.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        {% include "Instrumento/common_agregar.html" %}
        <button id="add_row">Agregar fila</button>
        <button id="add_column">Agregar columna</button>
        <table>
            <thead>
                <tr id="row_header">
                    <th>Categoría</th>
                    <th class="column" meta:index="1">
                        <button class="delete_column">-</button>
                        <br/>
                        <textarea class="text" placeholder="Columna" ></textarea>

                    </th>
                    <th class="column" meta:index="2">
                        <button class="delete_column">-</button>
                        <br/>
                        <textarea class="text" placeholder="Columna" ></textarea>
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row" meta:index="1">-</button>
                        <textarea class="cat" placeholder="Categoría" ></textarea>
                    </td>
                    <td class="column_val">
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                    <td class="column_val">
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                </tr>
                <tr class="row" meta:index="2">
                    <td>
                        <button class="delete_row" meta:index="2">-</button>
                        <textarea class="cat" placeholder="Categoría" ></textarea>
                    </td>
                    <td class="column_val">
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                    <td class="column_val">
                        <textarea class="text" placeholder="Descripción" ></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <label>Privacidad</label>
        <select data-placeholder="Nivel de privacidad" id="level_show" >
            <option>--</option>
            {% for key,value in TYPESSHOW %}
            <option value="{{ key }}">{{ value }}</option>    
            {% endfor %}
        </select>
        <button id="save">Guardar</button>
        
    </section>

    <script type="text/javascript" src="/static/js/FuncionesRubrica.js"></script>
    <script type="text/javascript" src="/static/chosen/chosen.jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#asignatura').chosen();
    });
    </script>
    {% include "includes/footer.html" %}
</body>

</html>
