<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Registrar Rúbrica" %}
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        <label>Título </label><input id="titulo" type="text" placeholder="titulo" /><br/>
        <label>Autor </label><input id="autor" type="text" placeholder="autor" /><br/>
        <label>Unidad de aprendizaje </label><input id="asignatura" type="text" placeholder="unidad de apredizaje" /><br/>
        <label>Oficial </label><input id="oficial" type="checkbox" placeholder="oficial" /><br/>
        <button id="add_row">Agregar fila</button>
        <button id="add_column">Agregar columna</button>
        <table>
            <thead>
                <tr id="row_header">
                    <th>Categoría</th>
                    <th class="column" meta:index="1">
                        <button class="delete_column">-</button>
                        <br/>
                        <input type="text" value="4" />

                    </th>
                    <th class="column" meta:index="2">
                        <button class="delete_column">-</button>
                        <br/>
                        <input type="text" value="4" />
                    </th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr class="row" meta:index="1">
                    <td>
                        <button class="delete_row" meta:index="1">-</button>
                        <input class="cat" type="text" />
                    </td>
                    <td class="column_val">
                        <input type="text" value="4" />
                    </td>
                    <td class="column_val">
                        <input type="text" value="4" />
                    </td>
                </tr>
                <tr class="row" meta:index="2">
                    <td>
                        <button class="delete_row" meta:index="2">-</button>
                        <input class="cat" type="text" />
                    </td>
                    <td class="column_val">
                        <input type="text" value="4" />
                    </td>
                    <td class="column_val">
                        <input type="text" value="4" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <button id="save">Guardar</button>
        
    </section>
    {% include "includes/Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesRubrica.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
