<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Ver Rúbrica" %}
    <link rel="stylesheet" href="/static/rateyo/jquery.rateyo.css"/>
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/rateyo/jquery.rateyo.js"></script>
    <style type="text/css">
    #tbodyinst td {
        padding: 10px;
    }
    </style>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
    <section>
        {% include "Instrumento/common_ver.html" with inst_type="rubrica" %}
        <!-- <button id="add_row">Agregar fila</button>
        <button id="add_column">Agregar columna</button> -->
        <table>
            <thead>
                <tr id="row_header">
                    <th>Categoría</th>
                    <!-- <th class="column" meta:index="1">
                        <button class="delete_column">-</button>
                        <br/>
                        <input type="text" value="4" />

                    </th>
                    <th class="column" meta:index="2">
                        <button class="delete_column">-</button>
                        <br/>
                        <input type="text" value="4" />
                    </th> -->
                    {% for pod in pod_vals %}
                    <th class="column">
                        {{pod.valor}}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="tbodyinst">
                {% for cat in cats %}
                <tr class="row" meta:index="{{cat.pk}}">
                    <td>
                        {{cat.texto}}
                    </td>
                    <!-- <td class="column_val">
                        <input type="text" value="4" />
                    </td>
                    <td class="column_val">
                        <input type="text" value="4" />
                    </td> -->
                    {% for pod_val in pods %}
                        {% ifequal pod_val.categoria.pk cat.pk%}
                            <td class="column_val">
                                {{pod_val.descripcion}}
                            </td>
                        {% endifequal %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <!-- <button id="save">Guardar</button> -->
        
    </section>
    {% include "Instrumento/comments.html" %}

    <script type="text/javascript" src="/static/js/FuncionesRubrica.js"></script>
    {% include "includes/footer.html" %}
</body>

</html>
