<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Buscar" %}
    <script type="text/javascript" src="/static/jquery-cookie/jquery.cookie.min.js"></script>
</head>

<body>
    {% csrf_token %}
    {% include "includes/header.html" %}
         <center>
            <section>
                <fieldset >
                <legend align="center">Búsqueda</legend>   
                    <div >
                        <form>
                        {#{% csrf_token %}#}
                        <select name="typeq">
                            {% for rtypeq in TYPESQ %}
                                <option value="{{ rtypeq.type }}" {% ifequal typeq rtypeq.type %}selected{% endifequal %}>{{ rtypeq.text }}</option>
                            {% endfor%}
                        </select>
                        <input id="query" name="query" type="text" value="{{query}}" />
                        <button id="search">Buscar</button>
                        </form>
                    </div>
                    <br><br>
                    <div align="center">
                        <table  CELLSPACING="10" width"100%">
                            <tbody width"100%">
                                <tr>
                                    <td align="center">Resultados</td>
                                    {%ifequal typeq "usuario"%}
                                    <td align="center">Rol</td>
                                    {%endifequal%}
                                    <td></td>
                                    <td></td>
                                </tr>
                                
                                {% for result in results %}
                                <tr>
                                    <td>{{ result.name }}</td>
                                    {%ifequal typeq "usuario"%}
                                    <td>{{ result.rol }}</td>
                                    {%endifequal%}
                                    <td><button onclick="window.location.href=&quot;{{ result.url_modif }}?id={{result.pk}}&quot;;">Editar</button></td>
                                    <td><button onclick="window.location.href=&quot;{{ result.url_delete }}?id={{result.pk}}&quot;;">Eliminar</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </fieldset>    
            </section>
        </center>  
    {% include "includes/footer.html" %}
</body>

</html>
