<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8" />
		 <title>Consultar Usuario</title>
	</head>
	<body>
		 <div id="contenido" align="center">
		 	<form method="post" action="/usuario/consultar/modificar"  class="modificarUsuario">
		 		{% csrf_token %}
		 		<input type="hidden" id="id" name="id" value="{{usuario.pk}}">
		 		<label for="username">Nombre de Usuario: </label>
		 		<input type="text" id="username" name="username" required value="{{usuario.username}}"><br>
		 		<label for="password">Contraseña: </label>
		 		<input type="password" id="password" name="password" required value="{{usuario.password}}"><br>
		 		<label for="nombres">Nombre(s): </label>
		 		<input type="text" id="nombres" name="nombres" required value="{{usuario.first_name}}"><br>
		 		<label for="aPaterno">Apellidos: </label>
		 		<input type="text" id="apellidos" name="apellidos" required value="{{usuario.last_name}}"><br>
		 		<label for="asignatura">Asignatura: </label>
		 		<select data-placeholder="Asignaturas" multiple="true" name="asignaturas">
			 		{% for asignatura in asignaturas %}
				 		{% if asignatura in clases  %}
				 		<option value="{{ asignatura.pk }}" selected>{{asignatura.nombre}}</option> 
						{% else %}
						<option value="{{ asignatura.pk }}">{{asignatura.nombre}}</option> 
						{% endif %}  
					{% endfor %}
				</select><br>
				<label for="rol">Rol: </label>
		 		<input type="text" id="rol" name="rol" required value="{{usuario.rol}}"><br>
		 		<input type="submit" Value="Editar" id="btnSubmit">

		 	</form>
		 </div>
	 </body>
</html>