<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Registrar Asignatura</title>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        
    </head>

<body>
  
  {% include "header.html" %}  
   
   <div id="contenido" align="center">
            
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <form method="post" action="/area/consultar/modificar"  class="modificarDepartamento">
                {% csrf_token %}

                <input type="hidden" id="id" name="id" value="{{area.pk}}">
                <label for="nombreA">Nombre del Área: </label>
                <input type="text" id="nombreA" name="nombreA" required value="{{area.nombre}}"><br>
                <input type="submit" Value="Guardar Area" id="btnRegistrarA">
            </form>
    </div>
    {% include "footer.html" %}
</body>
</html>