<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Estructura Académica" %}
    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css"/>
    <script src="/static/jstree/jstree.min.js"></script>
    <style type="text/css">
    	.treeColumn {
    		display: inline-block;
    		width:33%;
    		vertical-align: top;
    	}
    </style>
</head>

<body>
    {% include "includes/header.html" %}
    <div>
        <div class="treeColumn">
            <div id="base"></div>
        </div>
        <div class="treeColumn">
            <div id="academia"></div>
        </div>
        <div class="treeColumn">
            <div id="sign"></div>
        </div>
    </div>

    <script type="text/javascript">

    function startsWith (base, str){
        return base.slice(0, str.length) == str;
    };

    function baseSelect(e, data) {
        var selected = data.selected[0];
        // var node_selected = data.instance.get_node(selected)
        // console.log(node_selected);
        console.log(selected);
        // fillDivTree('#cont2', tree2Select);

        if (!startsWith(selected, "academia")) {
            return;
        }
        $('#academia').jstree("destroy").empty();
        $('#sign').jstree("destroy").empty();
        $('#academia').off('changed.jstree');
        $('#academia').on('changed.jstree', academiaSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
                        "url" : "/estructura/json/academia/"+selected.slice("academia".length),
                        "data" : function (node) {
                            return { "id" : node.id };
                        }
                    }
                }
            });
    }

    function academiaSelect(e, data) {
        var selected = data.selected[0];
        console.log(selected);
        // fillDivTree('#cont3', tree3Select);

        if (!startsWith(selected, "asignatura")) {
            return;
        }
        $('#sign').jstree("destroy").empty();
        $('#sign').off('changed.jstree');
        $('#sign').on('changed.jstree', signSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
                        "url" : "/estructura/json/asignatura/"+selected.slice("asignatura".length),
                        "data" : function (node) {
                            return { "id" : node.id };
                        }
                    }
                }
            });
    }

    function signSelect(e, data) {
        var selected = data.selected[0];
        console.log(selected);
    }
    // fillDivTree('#cont1', tree1Select);
    $('#base').on('changed.jstree', baseSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
						"url" : "/estructura/json/base",
						"data" : function (node) {
							return { "id" : node.id };
						}
					}
                }
            });
    </script>
    {% include "includes/footer.html" %}
</body>

</html>
