<!DOCTYPE html>
<html lang="es">

<head>
    {% include "includes/head.html" with title="Estructura Académica" %}
    <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css"/>
    <script src="/static/jstree/jstree.min.js"></script>
    <style type="text/css">
    	.treeColumn {
    		display: inline-block;
    		width:33%;
    		vertical-align: top;
            height: 30%;
    	}
        #tree{
            height: 200px;
        }
        #contenedor{
            text-align: center;
            border: 1px solid red;

        }
    </style>
</head>

<body>
    {%if user.myuser.is_authenticated %}
    {% include "includes/header_login.html"  %}
    {%else%}
    {% include "includes/header.html"  %}
    {%endif%}
    <section>
        <div id="tree">
            <div class="treeColumn">
                <div id="base"></div>
            </div>
            <div class="treeColumn">
                <div id="academia"></div>
            </div>
            <div class="treeColumn">
                <div id="sign"></div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

    function startsWith (base, str){
        return base.slice(0, str.length) == str;
    };

    function baseSelect(e, data) {
        var selected = data.selected[0];
        // var node_selected = data.instance.get_node(selected)
        // console.log(node_selected);
        console.log(selected);
        // fillDivTree('#cont2', tree2Select);
        if (startsWith(selected,"depto")) {
            $(document).ready(function(){
                  var button = $("<button>Aceptar</button>").click(function(){
                    $("p").append(" <b>Appended text</b>");
                  });
                  $('#contenedor').append(button);
                  
             });


        };
        if (!startsWith(selected, "academia")) {
            return;
        }
        $('#academia').jstree("destroy").empty();
        $('#sign').jstree("destroy").empty();
        $('#academia').off('changed.jstree');
        $('#academia').on('changed.jstree', academiaSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
                        "url" : "/estructura/json/academia/"+selected.slice("academia".length),
                        "data" : function (node) {
                            return { "id" : node.id };
                        }
                    }
                }

            });

         $(document).ready(function(){
                  var button = $("<button>Aceptar</button>").click(function(){
                    $("p").append(" <b>Appended text</b>");
                  });
                  $('#contenedor').append(button);
                  
        });
    }

    function academiaSelect(e, data) {
        var selected = data.selected[0];
        console.log(selected);
        // fillDivTree('#cont3', tree3Select);

        if (!startsWith(selected, "asignatura")) {
            return;
        }
        $('#sign').jstree("destroy").empty();
        $('#sign').off('changed.jstree');
        $('#sign').on('changed.jstree', signSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
                        "url" : "/estructura/json/asignatura/"+selected.slice("asignatura".length),
                        "data" : function (node) {
                            return { "id" : node.id };
                        }
                    }
                }

            });

         $(document).ready(function(){
                  var button = $("<button>Asignatura</button>").click(function(){
                    $("p").append(" <b>Appended text</b>");
                  });
                  $('#contenedor').empty();
                  $('#contenedor').append(button);
                  
        });
       
    }

    function signSelect(e, data) {
        var selected = data.selected[0];
        console.log(selected);
        $(document).ready(function(){
                  var button = $("<button>Profesor</button>").click(function(){
                    $("p").append(" <b>Appended text</b>");
                  });
                  $('#contenedor').empty();
                  $('#contenedor').append(button);
                  
                });
    }
    // fillDivTree('#cont1', tree1Select);
    $('#base').on('changed.jstree', baseSelect).jstree({
                'core': {
                    'multiple': false,
                    'data': {
						"url" : "/estructura/json/base",
						"data" : function (node) {
							return { "id" : node.id };
						}
					}
                }
                
            });
    </script>
    <div id="contenedor">

    </div>
    {% include "includes/footer.html" %}
</body>

</html>
