<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Trabajo Terminal Remedial 15-1-0009" />
        <title>Herramienta de Gestion del Conocimiento para la Evaluación del Desempeño del Estudiante</title>
        <link rel="stylesheet" href="../static/css/normalize.css" />
        <link rel="stylesheet" href="../static/css/estilos_home.css" />
    </head>
    <body>
        <header>
            <figure id="logo">
                <img src="../static/img/logo_ipn.png" />
            </figure>
            <h1>Herramienta de Gestion del Conocimiento para la Evaluación del Desempeño del Estudiante</h1>
            <figure id="avatar">
                <img src="../static/img/logo_escom.png" />
            </figure>
        </header>
        <nav>
            <ul>
                <li><a href="#">Iniciar Sesión</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Estructura Académica</a></li>
                <li><a href="#">Instrumentos de Evaluación</a></li>
            </ul>
        </nav>
        
    </body>
</html>