<!DOCTYPE html>
<html lang="es">
<head>
{% include "includes/head.html" with title="Herramienta de Gestión del Conocimiento para la Evaluación del Desempeño del Estudiante" %}
</head>
<body>
    {% include "includes/header.html" %}
    <section>
    	<center>
	        <table>
	        	<tr>
	        		<td rowspan="2">
	        			<figure id="avatar">
					        <img src="/static/{{request.session.url}}" width="400" height="200"/>
					    </figure>
	        		</td>
	        		<td width="400" style="text-align: justify;">
	        			<div><strong>MISIÓN:</strong> </div>
	        			<br>
	        			<p stytle="text-align: justify;">
	        				{{mision}}
	        			</p>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td width="400" style="text-align: justify;">
	        			<br>
	        			<div><strong>VISIÓN:</strong> </DIV>
	        				<br>
	        			<p stytle="text-align: justify;">
	        				{{vision}}
	        			</p>
	        		</td>
	        	</tr>
	        </table>
	    </center>
    </section>
    {% include "includes/footer.html" %}
</body>
</html>