<!DOCTYPE html>
<html lang="es">
<head>
{% include "includes/head.html" with title="Inicio de Sesión" %}
</head>


<body>
    

    {% include "includes/header.html" %}
    <section >
        <form method="post" class="estilo_form" >


                {% if error %}
            <script type="text/javascript">
                $(document).ready(function(){
                    $.magnificPopup.open({
                        items: {
                            src: '<center><div id="test-form" class="white-popup-block ">\
                                    <form class="estilo_form">\
                                        <fieldset  >\
                                            <center>\
                                                <table>\
                                                    <tr>\
                                                        <td >\
                                                            <center><img src="/static/img/iconos/error.png"></center>\
                                                        </td>\
                                                        <td >\
                                                            <center>\
                                                                {{error}}\
                                                            </center\
                                                        </td>\
                                                    </tr>\
                                                    <tr>\
                                                        <td colspan="2">\
                                                            <center><button type="submit" class="submit" onclick="$.magnificPopup.close();">Aceptar</button>\
                                                        </td>\
                                                    </tr>\
                                                </center>\
                                                </table>\
                                            </center>\
                                        </fieldset>\
                                    </form>\
                                </div></center>'
                        },
                        type: 'inline'

                      // You may add options here, they're exactly the same as for $.fn.magnificPopup call
                      // Note that some settings that rely on click event (like disableOn or midClick) will not work here
                    }, 0);
                });
            </script>
    {% endif %}
            {% csrf_token %}                           
                <center>
                    <fieldset align="center">
                            <legend >Iniciar Sesión:</legend>
                                <center>
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="login">Email:</label>
                                            </td>
                                            <td>
                                                <input type="email" name="username" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="password">Password:</label>
                                            </td>
                                            <td>
                                                <input type="password" name="password" id="password" value="" placeholder="password">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <center><button type="submit" id="btnSubmit" class="submit">Ingresar</button><p align="right"><a class="popup-with-form" href="#test-form">Recuperar Contraseña</a></p>
                                                </center>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="right">
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </center>
                    </fieldset>
                </center>
     



            {% if next %}
            <input type="hidden" name="next" value="{{next}}" />
            {% endif %}
        </form>
    </section>




    <!-- DIV para recuperar CONTRASEÑA -->
    <div id="test-form" class="white-popup-block mfp-hide">
        <form class="estilo_form">
            
            <fieldset style="border:0; margin: 0 auto;" >
                <center>
                    <table>
                        <tr>
                            <td colspan="2">
                                <center><b>Recuperar Contraseña</center>
                            </td>
                        </tr>
                            <td colspan="2">
                                Puedes recuperar tu contraseña, sólo introduce tu nombre de usuario y enseguida <br> te enviaremos un correo con tu nueva contraseña
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">E-mail:</label>
                            </td>
                            <td>
                                <input id="email" name="email" type="email" placeholder="example@domain.com" required="">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br>
                                <center><button id="btnSubmit" type="submit" class="submit">Recuperar </button>&nbsp;
                                <button type="submit" class="submit" onclick="$.magnificPopup.close();">Cancelar</button>
                            </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </fieldset>
        </form>
        </div>


    <!-- DIV para mensajes de error -->
    <div id="test-form" class="white-popup-block mfp-hide">
        <form class="estilo_form">
            
            <fieldset style="border:0; margin: 0 auto;" >
                <center>
                    <p>{{error}}</p>
                </center>
            </fieldset>
        </form>
        </div>



    <script type="text/javascript">
    $(document).ready(function() {
    $('.popup-with-form').magnificPopup({
        type: 'inline',
        focus: '#name',

        // When elemened is focused, some mobile browsers in some cases zoom in
        // It looks not nice, so we disable it:
        callbacks: {
            beforeOpen: function() {
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
            }
        }
    });
});
    </script>

        <script type="text/javascript">
    $(document).ready(function() {
    $('.btnError').magnificPopup({
        type: 'inline',
        focus: '#name',

        // When elemened is focused, some mobile browsers in some cases zoom in
        // It looks not nice, so we disable it:
        callbacks: {
            beforeOpen: function() {
                if($(window).width() < 700) {
                    this.st.focus = false;
                } else {
                    this.st.focus = '#name';
                }
            }
        }
    });
});
    </script>
    {% include "includes/footer.html" %}
</body>
</html>