<!DOCTYPE html>
<html lang="es">
<head>
{% include "includes/head.html" with title="Inicio de Sesión" %}
</head>
<body>
    

    {% include "includes/header.html" %}
    <section>
        <form method="post"  class="login">
            {% csrf_token %}
                {% if wrong_data %}
                    <div>
                        <p style="color:red;">Revisa tus datos</p>
                    </div>
                {% endif %}
             <div>
                <div>
                    <p>
                        <label for="login">Email:</label>
                        <input type="text" name="username" id="username" value="name@example.com">
                    </p>
                </div>
                <div> 
                    <p>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" value="4815162342">
                    </p>
                </div>
                <div>
                    <p class="login-submit">
                      <button type="submit" class="login-button">Login</button>
                    </p>
                </div>
                <div>
                    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
                </div>
            </div>


            {% if next %}
            <input type="hidden" name="next" value="{{next}}" />
            {% endif %}
        </form>
    </section>
    <script type="text/javascript">
    $('button').button();
    </script>
    {% include "includes/footer.html" %}
</body>
</html>