<!DOCTYPE html>
<html lang="es">
{% include "includes/head.html" %}
<body>
    

    {% include "includes/header.html" %}
    <section>
    <center>
    <p style="color: #800040;font-weight: bold;">Escoge el plantel al que perteneces: </p>

    <table border=3>
        <tr>
            <td ><center><img src="/static/img/superior/med1.jpg" widht="320" height="150" onClick="iniciaEscuela(1,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med2.jpg" widht="320" height="150" onClick="iniciaEscuela(2,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med3.jpg"  widht="320" height="150" onClick="iniciaEscuela(3,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med4.jpg"  widht="320" height="150" onClick="iniciaEscuela(4,'med');"></center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/med5.jpg"  widht="320" height="150" onClick="iniciaEscuela(5,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med6.jpg"  widht="320" height="150" onClick="iniciaEscuela(6,'med');"></center></td>
            <td><center><img src="/static/img/superior/med7.jpg"  widht="320" height="150" onClick="iniciaEscuela(7,'med');"><center></td>
            <td><center><img src="/static/img/superior/med8.jpg"  widht="320" height="150" onClick="iniciaEscuela(8,'med');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/med9.jpg"  widht="320" height="150" onClick="iniciaEscuela(9,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med10.jpg"  widht="320" height="150" onClick="iniciaEscuela(10,'med');"></center></td>
            <td><center><img src="/static/img/superior/med11.jpg"  widht="320" height="150" onClick="iniciaEscuela(11,'med');"><center></td>
            <td><center><img src="/static/img/superior/med12.jpg"  widht="320" height="150" onClick="iniciaEscuela(12,'med');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/med13.jpg"  widht="320" height="150" onClick="iniciaEscuela(13,'med');"></center></td>
            <td ><center><img src="/static/img/superior/med14.jpg"  widht="320" height="150" onClick="iniciaEscuela(14,'med');"></center></td>
            <td><center><img src="/static/img/superior/med15.jpg"  widht="320" height="150" onClick="iniciaEscuela(15,'med');"><center></td>
            <td><center><img src="/static/img/superior/med16.jpg"  widht="320" height="150" onClick="iniciaEscuela(16,'med');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/med17.jpg"  widht="320" height="150" onClick="iniciaEscuela(17,'med');"></center></td>
            <td ><center><img src="/static/img/superior/medCet17.jpg"  widht="320" height="150" onClick="iniciaEscuela(18,'medCet');"></center></td>
            <td><center><center></td>
            <td><center></td>
        </tr>
    </table>
    <center>    


    </section>
    <script type="text/javascript">
    $('button').button();
    </script>
    {% include "includes/footer.html" %}
</body>
</html>