<!DOCTYPE html>
<html lang="es">
{% include "includes/head.html" %}
<body>
    

    {% include "includes/header.html" %}
    <section>
    <center>
    <p style="color: #800040;font-weight: bold;">Escoge el plantel al que perteneces: </p>

    <table border=3>
        <tr>
            <td ><center><img src="/static/img/medioSuperior/1.jpg" widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/2.jpg" widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/3.jpg"  widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/4.jpg"  widht="320" height="150"></center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/medioSuperior/5.jpg"  widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/6.jpg"  widht="320" height="150"></center></td>
            <td><center><img src="/static/img/medioSuperior/7.jpg"  widht="320" height="150"><center></td>
            <td><center><img src="/static/img/medioSuperior/8.jpg"  widht="320" height="150"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/medioSuperior/9.jpg"  widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/10.jpg"  widht="320" height="150"></center></td>
            <td><center><img src="/static/img/medioSuperior/11.jpg"  widht="320" height="150"><center></td>
            <td><center><img src="/static/img/medioSuperior/12.jpg"  widht="320" height="150"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/medioSuperior/13.jpg"  widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/14.jpg"  widht="320" height="150"></center></td>
            <td><center><img src="/static/img/medioSuperior/15.jpg"  widht="320" height="150"><center></td>
            <td><center><img src="/static/img/medioSuperior/16.jpg"  widht="320" height="150"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/medioSuperior/17.jpg"  widht="320" height="150"></center></td>
            <td ><center><img src="/static/img/medioSuperior/CET_1.jpg"  widht="320" height="150"></center></td>
            <td><center><center></td>
            <td><center></td>
        </tr>
    </table>
    <center>    


    </section>
    <script type="text/javascript">
    $('button').button();
    </script>
    {% include "includes/footer.html" %}
</body>
</html>