<!DOCTYPE html>
<html lang="es">
<head>    
    {% include "includes/head.html" with title="Registrar nuevo departamento" %}
</head>
<body>
  {% include "includes/header.html" %}
   
   <div id="contenido" align="center">
            <form method="post" action=""  class="nuevaArea">
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <label for="nombreArea">Nombre del Área: </label>
                <input type="text" id="nombreArea" name="nombreArea" required><br>
               
                <input type="submit" Value="Registrar Area" id="btnRegistrarArea">
            </form>
    </div>
    {% include "includes/footer.html" %}
</body>
</html>