<!DOCTYPE html>
<html lang="es">
<head>    
    {% include "includes/head.html" with title="Registrar nueva academia" %}
</head>
<body>
    {% include "includes/header.html" %}
   
   <div id="contenido" align="center">
          

         <div id="contenido" align="center">
            <form method="post" action="/departamento/agregar"  class="nuevoDepartamento">
                {% csrf_token %}

                <label for="nombreDepto">Nombre del Departamento: </label>
                <input type="text" id="nombreDepto" name="nombreDepto" required><br>
                <label for="asignatura">Area: </label>
                <select data-placeholder="Areas"  name="area">
                    <option value></option>
                    {% for areaI in areas %}
                    <option value="{{ areaI.pk }}">{{areaI.nombre}}</option>    
                    {% endfor %}
                </select><br>
                <!--<input type="text" id="asignatura" name="asignatura" required><br>-->
                <input type="submit" Value="Registrar Departamentoyy" id="btnSubmit">

            </form>
         </div>
    </div>
    {% include "includes/footer.html" %}
</body>
</html>