<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8" />
		 <title>Crear Usuario</title>
	</head>
	<body>
		 <div id="contenido" align="center">
		 	<form>

		 		<label for="nombreUser">Nombre de Usuario: </label>
		 		<input type="text" id="nombreUser" name="nombreUser" required><br>
		 		<label for="password">Contraseña: </label>
		 		<input type="text" id="password" name="password" required><br>
		 		<label for="nombres">Nombre(s): </label>
		 		<input type="text" id="nombres" name="nombres" required><br>
		 		<label for="aPaterno">Apellido Paterno: </label>
		 		<input type="text" id="aPaterno" name="aPaterno" required><br>
		 		<label for="aMaterno">Apellido Materno: </label>
		 		<input type="text" id="aMaterno" name="aMaterno" required><br>
		 		<label for="asignatura">Asignatura: </label>
		 		<input type="text" id="asignatura" name="asignatura" required><br>
		 		<label for="rol">Rol: </label>
		 		<input type="text" id="rol" name="rol" required><br>
		 		<input type="submit" Value="Crear Usuario" id="btnSubmit">

		 	</form>
		 </div>
	 </body>
</html>
