<!DOCTYPE html>
<html lang="es">
{% include "includes/head.html" %}
<body>
    

    {% include "includes/header.html" %}
    <section>
    <center>
    <p style="color: #800040;font-weight: bold;">Escoge el plantel al que perteneces: </p>

    <table border=3>
        <tr>
            <td ><center><img src="/static/img/superior/sup1.jpg" widht="320" height="150" onClick="iniciaEscuela(1,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup2.jpg" widht="320" height="150" onClick="iniciaEscuela(2,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup3.jpg"  widht="320" height="150" onClick="iniciaEscuela(3,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup4.jpg"  widht="320" height="150" onClick="iniciaEscuela(4,'sup');"></center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup5.jpg"  widht="320" height="150" onClick="iniciaEscuela(5,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup6.jpg"  widht="320" height="150" onClick="iniciaEscuela(6,'sup');"></center></td>
            <td><center><img src="/static/img/superior/sup7.jpg"  widht="320" height="150" onClick="iniciaEscuela(7,'sup');"><center></td>
            <td><center><img src="/static/img/superior/sup8.jpg"  widht="320" height="150" onClick="iniciaEscuela(8,'sup');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup9.jpg"  widht="320" height="150" onClick="iniciaEscuela(9,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup10.jpg"  widht="320" height="150" onClick="iniciaEscuela(10,'sup');"></center></td>
            <td><center><img src="/static/img/superior/sup11.jpg"  widht="320" height="150" onClick="iniciaEscuela(11,'sup');"><center></td>
            <td><center><img src="/static/img/superior/sup12.jpg"  widht="320" height="150" onClick="iniciaEscuela(12,'sup');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup13.jpg"  widht="320" height="150" onClick="iniciaEscuela(13,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup14.jpg"  widht="320" height="150" onClick="iniciaEscuela(14,'sup');"></center></td>
            <td><center><img src="/static/img/superior/sup15.jpg"  widht="320" height="150" onClick="iniciaEscuela(15,'sup');"><center></td>
            <td><center><img src="/static/img/superior/sup16.jpg"  widht="320" height="150" onClick="iniciaEscuela(16,'sup');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup17.jpg"  widht="320" height="150" onClick="iniciaEscuela(17,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup18.jpg"  widht="320" height="150" onClick="iniciaEscuela(18,'sup');"></center></td>
            <td><center><img src="/static/img/superior/sup19.jpg"  widht="320" height="150" onClick="iniciaEscuela(19,'sup');"><center></td>
            <td><center><img src="/static/img/superior/sup20.jpg"  widht="320" height="150" onClick="iniciaEscuela(20,'sup');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup21.jpg"  widht="320" height="150" onClick="iniciaEscuela(21,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup22.jpg"  widht="320" height="150" onClick="iniciaEscuela(22,'sup');"></center></td>
            <td><center><img src="/static/img/superior/sup23.jpg"  widht="320" height="150" onClick="iniciaEscuela(23,'sup');"><center></td>
            <td><center><img src="/static/img/superior/sup24.jpg"  widht="320" height="150" onClick="iniciaEscuela(24,'sup');"><center></td>
        </tr>
        <tr>
            <td ><center><img src="/static/img/superior/sup25.jpg"  widht="320" height="150" onClick="iniciaEscuela(25,'sup');"></center></td>
            <td ><center><img src="/static/img/superior/sup26.jpg"  widht="320" height="150" onClick="iniciaEscuela(26,'sup');"></center></td>
            <td><center><center></td>
            <td><center><center></td>
        </tr>
    </table>
    <center>    


    </section>
    <script type="text/javascript">
    $('button').button();
    </script>
    {% include "includes/footer.html" %}
</body>
</html>