<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Visualizar Areas</title>
        <meta charset="utf-8"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script type="text/javascript" src="/static/JS/FuncionesArea.js"></script>
    </head>

<body>
    {% include "header.html" %}
    
   
   <div id="contenido" align="center">
            
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <table>
                    <tr>
                        <td> Nombre: </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for area in listaAreas %}
                    <tr>
                        <td>{{area.nombre}}</td>
                        <td><button onclick="consultarArea({{area.pk}});">Modificar</button></td>
                        <td><button onclick="eliminarArea({{area.pk}});">Eliminar</button></td>
                    </tr>
                    {% endfor %}
                </table>
    </div>
    {% include "footer.html" %}
</body>
</html>