<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Visualizar Profesores</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script type="text/javascript" src="/static/JS/FuncionesUsuario.js"></script>
	</head>
	<body>
		<div id="contenido" align="center">
			<table >
				{%csrf_token%}
				{% for usuario in usuarios %}
				<tr>
					<td>{{usuario.pk}}</td>
					<td>{{usuario.username}}</td>
					<td>{{usuario.get_full_name}}</td>
					<td><button onclick="consultarUsuario({{usuario.pk}});">Editar</button></td>
					<td><button onclick="eliminarUsuario({{usuario.pk}});">Eliminar</button></td>
				</tr>
				{% endfor %}
			</table>
		</div>

	</body>
</html>