<!DOCTYPE html>
<html lang="es">
<head>
    {% include "includes/head.html" with title="Consultar Unidad de Aprendizaje" %}
</head>
<body>
    
    {% include "includes/header.html" %}
   
   <div id="contenido" align="center">
            
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <form method="post" action="/asignatura/consultar/modificar"  class="modificarAsignatura">
                {% csrf_token %}

                <input type="hidden" name="id" value="{{asignatura.pk}}">
                <label for="nombreA">Nombre de Asignatura: </label>
                <input type="text" id="nombreA" name="nombreA" required value="{{asignatura.nombre}}"><br>
                <label for="autorA">Autor:</label>
                <input type="text" id="autorA" name="autorA" required value="{{asignatura.autor_id}}"><br>
                <label for="academiaA">Academia: </label>
                <select data-placeholder="Academia" name="academiaA">
                    <option value></option>
                    {% for academia in listaAcademias %}
                        {% if asignatura.academia_id == academia.pk  %}
                            <option value="{{ academia.pk }}" selected>{{academia.nombre}}</option> 
                        {% else %}
                            <option value="{{ academia.pk }}">{{academial.nombre}}</option> 
                        {% endif %} 
                    {% endfor %}
                </select><br>
                <label for="rol">Presidente: </label>
                <select data-placeholder="Presidente" name="presidenteA">
                    <option value></option>
                    {% for presidente in usuarios %}

                      {% if asignatura.presidente_id == presidente.pk  %}
                            <option value="{{ presidente.pk }}" selected>{{presidente.first_name}}</option> 
                        {% else %}
                            <option value="{{ presidente.pk }}">{{presidente.first_name}}</option> 
                        {% endif %}  
                        
                    {% endfor %}
                </select><br>
                <input type="submit" Value="Guardar Asignatura" id="btnRegistrarA">
            </form>
    </div>
    {% include "includes/footer.html" %}
</body>
</html>