<!DOCTYPE html>
<html lang="es">
<head>    
    {% include "includes/head.html" with title="Registrar nueva unidad de aprendizaje" %}
</head>
<body>
    {% include "includes/header.html" %}
   <div id="contenido" align="center">
            <form method="post" action="/asignatura/agregar"  class="nuevaAsignatura">
                {% csrf_token %}
                {% if wrong_data %}
                        <p style="color:red;">El tiempo de tu sesión ha acabado</p>
                    {% endif %}

                <label for="nombreA">Nombre de Asignatura: </label>
                <input type="text" id="nombreA" name="nombreA" required><br>
                <label for="autorA">Autor:</label>
                <input type="text" id="autorA" name="autorA" required><br>
                <label for="academiaA">Academia: </label>
                <select data-placeholder="Departamento" name="academiaA">
                    <option value></option>
                    {% for academia in listaAcademias %}
                    <option value="{{ academia.pk }}">{{academia.nombre}}</option>    
                    {% endfor %}
                </select><br>
                <label for="rol">Presidente: </label>
                <select data-placeholder="Presidente" name="presidenteA">
                    <option value></option>
                    {% for presidente in usuarios %}
                    <option value="{{ presidente.pk }}">{{presidente.first_name}}</option>    
                    {% endfor %}
                </select><br>
                <input type="submit" Value="Registrar Asignatura" id="btnRegistrarA">
            </form>
         </div>
    {% include "includes/footer.html" %}
</body>
</html>