<!DOCTYPE html>
<html lang="es">
<head>    
    {% include "includes/head.html" with title="Registrar Nueva Academia" %}
</head>
<body>

    {% include "includes/header.html"  %}

    <section>
   <div id="contenido" align="center">
          
        
         <div id="contenido" align="center">
            <form method="post" action="/academia/agregar" class="estilo_form" >
                {% csrf_token %}
                <fieldset align="center">
                        <legend >Nueva Academia:</legend>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        <label for="nombreAcademia">Nombre de la Academia: </label>
                                    </td>
                                    <td>
                                        <input type="text"  name="nombreAcademia" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="departamento">Departamento: </label>
                                    </td>
                                    <td>
                                        <select data-placeholder="Departamento"  name="departamento">
                                            
                                            {% for departamento in listaDepartamentos %}
                                            <option value="{{ departamento.pk }}">{{departamento.nombre}}</option>    
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <center>
                                            <button id="btnSubmit" type="submit" class="submit">Registrar Academia </button>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </center>
                </fieldset>
            </form>
         </div>
    </div>
    </section>
    {% include "includes/footer.html" %}
</body>
</html>